* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f0f0f;
    color: #fff;
}

/* HEADER */
header {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    color: orange;
    font-size: 28px;
    animation: slideInLeft 1s ease;
}

nav a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: orange;
    bottom: -5px;
    left: 0;
    transition: .3s;
}

nav a:hover::after {
    width: 100%;
}

/* FOOTER */
footer {
    background: #000;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    font-size: 14px;
}

/* ANIMATIONS */
@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}